h1 {
	font-size: 2.5em;
	display: block;
}
h2 {
	font-size: 1.5em;
	color: #fefefe;
	display: block;
	a {
			color: #fefefe;
	}
	a:hover {
		color: #ccc;
	}
}
h3 {
	font-size: 1.3em;
	display: inline;
}
h4 {
	font-size: 1em;
	display: inline;
}

ul {
	list-style: none;
	display: block;
	li {
		list-style: none;
		display: block;
		padding:5px 0;
		margin: 0 0 10px;
	}
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* Train colors */
.rt {
	padding: 5px 10px;
}

/* Blue Line */
.Red {
	background: #e40045;
}

/* Blue Line */
.Blue {
	background: #00f;
}

/* Green Line */
.Green {
	background: #2a9c3b;
}

/* Orange Line */
.Orange {
	background: #ff7100;
}

/* Brown Line */
.Brown {
	background: #654321;

	h1 {
		color: #fff;
	}
}

/* Purple Line */
.Purple {
	background: #800080;
}

/* Pink Line */
.Pink {
	background: #ffc0cb;
}

/* Yellow Line */
.Yellow {
	background: #FFFF00;
}
.twelve.Brown {
	margin: 20px 0;
}
.panel {
	display: block;
	min-height: 70px;
}
.panel:hover {
	background: #e6e6e6;
	border: solid 1px #f2f2f2;	
}


